{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme='dark'>

<head>



	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-58LHNSV');
	</script>
	<!-- End Google Tag Manager -->



	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fake news detector</title>
	

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
		rel="stylesheet">
    
	<script src="https://kit.fontawesome.com/3ea20092d3.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>

</head>

<body>


	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58LHNSV" height="0" width="0"
			style="display:none;visibility:hidden;"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->


	<section class="darktheme">
		<div class="darktheme__container " id="dark__theme">
			
			<input class="input__dark" type="checkbox" id="switch" name="theme" />
			<label class="label__dark" for="switch">Toggle</label>
		</div>

	</section>

	<div class="nav-respo">
		<button class="btn btn-hamburger" onclick="hamburger(event)">
			<span class="line"></span>
		</button>
		<div class="menu">
			<ul>
				<li class="nav-respo__item">
					<a href="{%url 'index' %}" class="nav-respo__link" onclick="return hamburger()">
						Home
					</a>
				</li>
				<li class="nav-respo__item">
					<a href="#about" class="nav-respo__link" onclick="return hamburger()">
						About
					</a>
				</li>
				<li class="nav-respo__item">
					<a href="#theme" class="nav-respo__link" onclick="return hamburger()">
						Project
					</a>
				</li>
				<li class="nav-respo__item">
					<a href="#speaker" class="nav-respo__link" onclick="return hamburger()">
						Team
					</a>
				</li>
				<li class="nav-respo__item">
					<a href="#sponsors" class="nav-respo__link" onclick="return hamburger()">
						Contact
					</a>
				</li>
				<li class="nav-respo__item">
					<a href="#follow" class="nav-respo__link" onclick="return hamburger()">
						Follow Us
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="navigation">
		<nav class="navigation__nav">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="#about" class="navigation__link">
						About
					</a>
				</li>

				<li class="navigation__item">
					<a href="#theme" class="navigation__link">
						Project
					</a>
				</li>
				<li class="navigation__item navigation__item--home">
					<a href="{%url 'index' %}" class="navigation__link">
						<img src="{% static 'post_image/home.png' %}" alt="">
					</a>
				</li>
				<li class="navigation__item">
					<a href="#speaker" class="navigation__link">
						Team
					</a>
				</li>
				<li class="navigation__item">
					<a href="#sponsors" class="navigation__link">
						Contact
					</a>
				</li>
			</ul>
		</nav>
	</div>
    <div>
        {% block content %}
    
        {% endblock content %}
    </div>
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
	<script src="{% static 'js/home.js' %}"></script>
	<script src="{% static 'js/jquery/jquery-3.2.1.min.js' %}"></script>
	<script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
</body>

</html>

